<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    
    <h1>Welcome to the Artsy Project.</h1>
    <h3>It is a personal project of Aneta Kotas created for Web Application Developement class.</h3>
    <p>The aim of this website is to create a simple portfolio of Aneta's artworks created throughout years. It will include random arts and crafts, drawings and so on. On the Random Art page viewers will be able to browse other famous artworks, in case anyone is more art-hungry. If you wish, the Your Art section will allow you to upload your own piece of work so you can show it to the world!</p>
</body>
</html>