img {
    object-fit: scale-down;
    object-position: 50% 20%;

}

.carousel-inner,
.carousel-item,
img,
#carouselExampleIndicators {
    max-height: 900px;
}

body {
    background-color: #2a2a2e;
}

